@use "utils/mixins" as mix;
@use "utils/variables" as vars;

.certification {
  display: flex;
  align-items: center;
  padding-right: 0;
  margin-bottom: 80px;
  flex-wrap: wrap;
  flex-direction: column;
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    h3 {
      font-size: 15px;
      line-height: 160%;
      margin-right: 16px;
    }
    div {
      width: 147px;
      height: 1px;
      background-color: vars.$accent;
      margin-right: 0;
    }
  }

  ul {
    @include mix.flex-center;
    gap: 30px;
    flex-direction: column;
  }
  @include mix.tablet {
    flex-direction: row;
    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;
      div {
        width: 147px;
        height: 1px;
        background-color: vars.$accent;
        margin-right: 20px;
      }
    }
    ul {
      flex-direction: row;
    }
  }
  @include mix.desktop {
    flex-direction: row;
    .title {
      div {
        margin-right: 87px;
      }
    }

    ul {
      flex-direction: row;
      gap: 100px;
    }
  }
}
