@use "utils/mixins" as mix;
@use "utils/variables" as vars;

.info {
  background-color: #fff;
  position: relative;
  height: 616px;
  border-radius: 0 20px 20px 0;
  margin-bottom: 80px;
  div {
    .laboratory-img {
      position: absolute;
      left: 0;
      bottom: 0;
      border-radius: 20px 0 0 0;
      width: 570px;
      height: 592px;
    }
    .laboratory-text {
      position: absolute;
      left: 285px;
      bottom: 0;
      display: block;
      width: 285px;
      height: 332px;
      background-color: vars.$blue;
      font-size: 15px;
      line-height: 160%;
      color: #fff;
      padding: 60px 30px 80px;
    }
  }
  div {
    div {
      .white-part {
        position: absolute;
        display: block;
        font-size: 15px;
        line-height: 160%;
        padding: 80px 30px 132px;
        top: 0;
        right: 285px;
        width: 285px;
        height: 332px;
      }
      .blue-part {
        position: absolute;
        border-radius: 0 20px 0 0;
        right: 0;
        top: 0;
        display: block;
        width: 285px;
        height: 332px;
        background-color: vars.$blue;
        font-size: 15px;
        line-height: 160%;
        color: #fff;
        padding: 80px 30px 132px;
      }
    }
    .yellow-part {
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      background-color: vars.$accent;
      width: 570px;
      height: 284px;
      border-radius: 0 0 20px 0;
      padding: 45px 40px 49px 38px;

      h3 {
        font-family: vars.$second-family;
        font-weight: 700;
        font-size: 20px;
        color: vars.$dark-1-122d;
        margin-bottom: 5px;
      }

      p {
        font-size: 15px;
        line-height: 160%;
        color: #000;
        margin-bottom: 28px;
      }
      div {
        display: flex;

        button {
          border: 1px solid vars.$blue;
          border-radius: 8px;
          width: 125px;
          height: 46px;
          font-family: vars.$second-family;
          font-weight: 500;
          font-size: 14px;
          line-height: 214%;
          text-align: center;
          color: vars.$blue;
          margin-right: 40px;
        }
        .contacts {
          padding-left: 40px;
          border-left: 1px solid #fff;
          div {
            display: flex;
            flex-direction: column;
            margin-left: 13px;
            p {
              font-weight: 600;
              font-size: 14px;
              line-height: 171%;
              color: vars.$blue;
              margin-bottom: 0;
            }
            a {
              font-weight: 600;
              font-size: 24px;
              line-height: 100%;
              color: #000;
            }
          }
        }
      }
    }
  }
}
