<section class="container advantages">
  <ul>
    <li>
      <div class="icon">
        <svg width="40" height="40">
          <use href="images/sprite.svg#icon-box"></use>
        </svg>
      </div>

      <div>
        <h3>Full-Service<br />Shipping</h3>
        <p>
          From picking to custom-crating to domestic and international shipping,
          we handle it all for you.
        </p>
      </div>
    </li>
    <li>
      <div class="icon">
        <svg width="40" height="40">
          <use href="images/sprite.svg#icon-checked"></use>
        </svg>
      </div>

      <div>
        <h3>Multi-Point Inspection</h3>
        <p>
          To ensure quality, our team of HTM professionals fully assess and
          evaluate all equipment.
        </p>
      </div>
    </li>
    <li>
      <div class="icon">
        <svg width="40" height="40">
          <use href="images/sprite.svg#icon-operator"></use>
        </svg>
      </div>

      <div>
        <h3>Professional Product Support</h3>
        <p>
          If you have any questions about the equipment, our product specialists
          are here to help.
        </p>
      </div>
    </li>
    <li>
      <div class="icon">
        <svg width="40" height="40">
          <use href="images/sprite.svg#icon-credit-card"></use>
        </svg>
      </div>

      <div>
        <h3>Secure and Easy Payment Methods</h3>
        <p>
          Pay your way, whether by credit card, PayPal or the redemption of
          earned credits.
        </p>
      </div>
    </li>
  </ul>
</section>
