<footer>
  <div>
    <address>
      <ul>
        <li>
          <img
            src="images/location.webp"
            alt="location icon"
            width="46"
            height="46"
          />
          <span>Address</span><br />
          <a
            href="https://www.google.com/maps/place/123+5th+Ave,+New+York,+NY,+USA"
            target="_blank"
            rel="noopener noreferrer"
          >
            123 5th Avenue, New York, US
          </a>
        </li>
        <li>
          <img
            src="images/phone-footer.webp"
            alt="phone icon"
            width="46"
            height="46"
          />
          <span>Call Us</span><br />
          <a href="tel:+11234567890">+1 123 456 7890</a>
        </li>
        <li>
          <img src="images/mail.webp" alt="mail icon" width="46" height="46" />
          <span>Email Us</span><br />
          <a href="mailto:info@example.com">info@example.com</a>
        </li>
      </ul>
    </address>
    <ul>
      <li>
        <div></div>
        <p>
          Our team is led by several chief engineers, composed of a large number
          of researchers absorbed in their work in our comprehensive laboratory,
          which is also a renowned medical equipment testing center in Hong
          Kong.
        </p>
      </li>
      <li>
        <h3>Company</h3>
        <nav class="footer-nav">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Product</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">History</a></li>
          </ul>
        </nav>
      </li>
      <h3>Follow Us</h3>
      <div>
        <div></div>
        <ul>
          <li><a href="#" aria-label="Facebook">Facebook</a></li>

          <li><a href="#" aria-label="Twitter">Twitter</a></li>
          <li><a href="#" aria-label="Google+">Google +</a></li>
          <li><a href="#" aria-label="YouTube">YouTube</a></li>
          <li><a href="#" aria-label="Linkedin">Linkedin</a></li>
        </ul>
      </div>
    </ul>
  </div>
  <p>Copyright<span></span> 2020 N95</p>
</footer>
