<section class="container hero">
  <div>
    <p class="number">3M N95 masks</p>
    <h1>Protective Face Masks</h1>
    <p class="text">
      We offer the fast delivery wholesale selection of N95 masks and surgical
      masks, featuring FDA-approved quality and 2–5 days delivery. Our wholesale
      face masks are ideal for influenza or novel coronavirus prevention.
    </p>
    <div>
      <button class="show">Show now</button>
      <button class="learn">Learn more</button>
    </div>
  </div>
  <img
    srcset="images/hero-2x.webp 2x, images/hero-1x.webp 1x"
    src="images/hero-2x.webp"
    alt="woman with a mask"
  />
</section>
