<section class="container info">
  <div>
    <img
      srcset="images/info-2x.webp 2x, images/info-1x.webp 1x"
      src="images/info-2x.webp"
      alt="laboratory"
      class="laboratory-img"
    />
    <p class="laboratory-text">
      Given the praised reputation and reliable quality within the industry, we
      have also established preliminary business agreements with some hospitals,
      local governments and medical institutions in Guangdong Province.
    </p>
  </div>
  <div>
    <div>
      <p class="white-part">
        After years of development, Health Pro has reached stable long-term
        cooperation with many hospitals and medical institutions in Hong Kong.
      </p>
      <p class="blue-part">
        We are keenly looking forward to expand our market in Mainland China and
        overseas in the future, as we have strong beliefs in our products.
      </p>
    </div>
    <div class="yellow-part">
      <h3>Proudly Made in Hong Kong</h3>
      <p>
        Our factory is located in Hong Kong. Equipped with machines and assembly
        line of the best quality on the market to ensure quality control.
      </p>
      <div>
        <button>Learn more</button>
        <div class="contacts">
          <img src="images/phone.webp" alt="phone" width="46" height="46" />
          <div>
            <p>Contact us</p>
            <a href="tel:+11234445678">+1 123 444 5678</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
