<section class="container reasons">
  <img
    srcset="images/mask-2x.webp 2x, images/mask-1x.webp 1x"
    src="images/mask-2x.webp"
    alt="woman with a mask"
    class="mask"
  />
  <div>
    <h2>Reasons To Choose Our Products</h2>
    <p>
      All products of Health Pro have obtained the certifications issued by
      national specialized agencies and testing laboratories. <br />They have
      also passed the quality inspection of several international famous testing
      institutions. We have absolute confidence that every product of Health Pro
      is a of the top quality.
    </p>
    <ul>
      <li>
        <div class="icon">
          <img src="images/cup.webp" alt="cup" width="26" height="24" />
        </div>
        <div>
          <h3>Industry leader</h3>
          <p>
            If you have any questions about the equipment, our product
            specialists are here to help, specialists are here.
          </p>
        </div>
      </li>
      <li>
        <div class="icon">
          <img src="images/graph.webp" alt="graph" width="28" height="20" />
        </div>
        <div>
          <h3>Innovation 3 led development</h3>
          <p>
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </div>
      </li>
      <li>
        <div class="icon">
          <img src="images/save.webp" alt="save" width="22" height="24" />
        </div>
        <div>
          <h3>To create a safer tomorrow for all</h3>
          <p>
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </div>
      </li>
      <li>
        <div class="icon">
          <img src="images/friends.webp" alt="friends" width="28" height="20" />
        </div>
        <div>
          <h3>To protect and to improve living quality for all</h3>
          <p>
            If you have any questions about the equipment, our product
            specialists are here to help.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
