<section class="container reviews">
  <ul>
    <li>
      <div>
        <div class="stars">
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <svg class="icon" width="30" height="30">
          <use href="images/sprite.svg#icon-yelp"></use>
        </svg>
      </div>
      <p>
        “Sit cursus quam sagittis pellentesque iaculis mauris purus tincidunt
        una ullamcorper viverra aliquet aliquet aliquet donec non molestie
        egestas cursus amet eu facilisi varius libero diam pharetra odio
        pharetra at cras aliquam.”
      </p>
      <div class="author">
        <img src="images/person1.webp" alt="woman" width="40" height="40" />
        <div>
          <p class="name">MARIA EVE</p>
          <p class="profession">Lawyer</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="stars">
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <svg class="icon" width="30" height="30">
          <use href="images/sprite.svg#icon-google-plus"></use>
        </svg>
      </div>
      <p>
        “Nisl ac massa porttitor adipiscing pretium nec sit turpis in adipiscing
        faucibus quam consectetur pellentesque et mi molestie amet, et, platea
        facilisi malesuada vitae in scelerisque elementum vestibulum accumsan at
        etiam vitae.”
      </p>
      <div class="author">
        <img src="images/person2.webp" alt="man" width="40" height="40" />
        <div>
          <p class="name">LIAM BOWER</p>
          <p class="profession">Mechanic</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <div class="stars">
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
          <svg class="star" width="16" height="16">
            <use href="images/sprite.svg#icon-star"></use>
          </svg>
        </div>
        <svg class="icon" width="30" height="30">
          <use href="images/sprite.svg#icon-facebook"></use>
        </svg>
      </div>
      <p>
        “Tristique sed odio nunc ut morbi sit urna, vitæe, sed pellentesque
        massa, pellentesque lacinia sapien tempor enim netus euismod tincidunt
        varius malesuada ornare morbi lorem suspendisse non posuere penatibus
        tincidunt aliquam lorem.”
      </p>
      <div class="author">
        <img src="images/person3.webp" alt="woman" width="40" height="40" />
        <div>
          <p class="name">NICKY</p>
          <p class="profession">Dancer</p>
        </div>
      </div>
    </li>
  </ul>
</section>
